<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>The Template of Antaeus - The Layout Definate</title>
    <link href="../CSS/Common.css" rel="stylesheet" media="screen" type="text/css" />
    <link href="../CSS/Layout.css" rel="stylesheet" media="screen" type="text/css" />
    <style>
		.header{ background:#000 url(../Images/BG_GMAT.jpg) scroll repeat-x center top;}
    	.template .context{ padding:15px; }
		.template .context h1{ font-size:24px; font-weight:bold; padding-bottom:15px; padding-top:15px;}
		
		.item{ margin:10px; width:120px; padding:15px; color:#FFF; height:70px; float:left;}
		.item p{ font-weight:bold; display:block;}
		
    </style>
</head>
<body>
	<div class="header">
        <div class="wrap">
            <div class="main">
                <div class="logo"><img src="../../Contents/Images/Logo.png" alt="www.JINBU8.com" /></div>
                <div class="login">
                    <div class="exam">
                        <span>当前关注考试</span>
                        <img src="../../Contents/Images/Logo_GMAT.gif" alt="进步吧 — 每天进步一点点，我一定可以成功" />
                    </div>
                    <div class="loginform">
                        <div class="email"><input type="text" value="电子邮件地址" /></div>
                        <div class="password"><input type="text" value="用户密码" /></div>
                        <div class="submit"><a href="#"></a></div>
                        <div class="auto">
                            <input type="checkbox" />
                            <span>下次自动登录</span>
                        </div>
                        <div class="forgot"><a href="#">救救我！忘记密码了</a></div>
                        <div class="register"><a href="#">注册新用户</a></div>
                    </div>
                </div>
                <div class="quatotion">荀子曰：不积跬步，无以至千里</div>
            </div>
            <div class="navigation">
                <div class="link">
                    <a href="#" class="current">主页</a>
                    <a href="/Question">题库</a>
                    <a href="/Question">知识点</a>
                    <a href="/Question">题库</a>
                </div>
                <div class="search">
                    <input type="text" value="输入题目编号直接浏览题目" />
                    <a href="#">搜索</a>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    
    <div class="content">
        <div class="wrap">
        	<div class="blank10"></div>
            <div class="box1 template">
                <div class="context">                	
                    <h1>灰色配色表</h1>
                    <div class="item" style="background-color:#000;"><p>黑色（导航背景）</p><span>#000000</span></div>
                    <div class="item" style="background-color:#ddd;"><p>淡灰色（网页背景）</p><span>#DDDDDD</span></div>
                    <div class="item" style="background-color:#f8f8f8; color:#000;"><p>灰色（BAR背景）</p><span>#f8f8f8</span></div>
                    <div class="item" style="background-color:#dbdbdb;"><p>灰色（一般边框色）</p><span>#dbdbdb</span></div>
                    <div class="item" style="background-color:#333;"><p>深灰色（底部背景）</p><span>#333333</span></div>
                    <div class="item" style="background-color:#666;"><p>深灰色（文字基本色）</p><span>#666666</span></div>
                    <div class="item" style="background-color:#888;"><p>浅灰色（文字淡色）</p><span>#888888</span></div>
                    <div class="clear"></div>
                    <h1>三大基本色：蓝色配色表</h1>
                    <div class="item" style="background-color:#0479a7;"><p>深蓝色（背景或文字）</p><span>#0479a7</span></div>
                    <div class="item" style="background-color:#cadfec; color:#000;"><p>淡蓝色（背景）</p><span>#cadfec</span></div>
                    <div class="item" style="background-color:#0e74b7;"><p>一般蓝色（边框）</p><span>#0e74b7</span></div>
                    <div class="item" style="background-color:#0099FF;"><p>亮蓝色（替换）</p><span>#0099FF</span></div>
                    <div class="clear"></div>
                    <h1>三大基本色：绿色配色表</h1>
                    <div class="item" style="background-color:#368500;"><p>深绿色（背景或文字）</p><span>#368500</span></div>
                    <div class="item" style="background-color:#e0ffb0; color:#000;"><p>淡绿色（背景）</p><span>#e0ffb0</span></div>
                    <div class="item" style="background-color:#3b9400;"><p>一般绿色（边框）</p><span>#3b9400</span></div>
                    <div class="item" style="background-color:#5bdb00;"><p>亮绿色（替换）</p><span>#5bdb00</span></div>
                    <div class="clear"></div>
                    <h1>三大基本色：橙色配色表</h1>
                    <div class="item" style="background-color:#df6901;"><p>深橙色（背景或文字）</p><span>#df6901</span></div>
                    <div class="item" style="background-color:#ffeedf; color:#000;"><p>淡橙色（背景）</p><span>#ffeedf</span></div>
                    <div class="item" style="background-color:#e87007;"><p>一般橙色（边框）</p><span>#e87007</span></div>
                    <div class="item" style="background-color:#ff7700;"><p>亮橙色（替换）</p><span>#ff7700</span></div>
                    <div class="clear"></div>
                    <h1>辅助色配色表</h1>
                    <div class="item" style="background-color:#d7df01;"><p>黄绿色（背景或文字）</p><span>#d7df01</span></div>
                    <div class="item" style="background-color:#df0193;"><p>亮紫色（背景或文字）</p><span>#df0193</span></div>
                    <div class="item" style="background-color:#df0101;"><p>红色（背景或文字）</p><span>#df0101</span></div>
                    <div class="item" style="background-color:#aa9957;"><p>棕色（背景或文字）</p><span>#aa9957</span></div>
                    <div class="item" style="background-color:#ECFFA3; color:#000;"><p>淡黄绿色（背景）</p><span>#ECFFA3</span></div>
                    <div class="item" style="background-color:#fdfbee; color:#000;"><p>淡黄色（背景）</p><span>#fdfbee</span></div>
                    <div class="item" style="background-color:#FFD8CB; color:#000;"><p>淡红色（背景）</p><span>#FFD8CB</span></div>
                    <div class="item" style="background-color:#d24a8a;"><p>紫色（替换）</p><span>#d24a8a</span></div>
                    <div class="item" style="background-color:#f47f7f;"><p>粉色（背景）</p><span>#f47f7f</span></div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="blank10"></div>
            <div class="clear"></div>
        </div>
    </div>
    
    <div class="footer">
        <div class="wrap">
            <div class="copyright"></div>
            <div class="links"></div>
        </div>
    </div>
</body>
</html>