<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<script type="text/javascript" src="../../Plugins/CKEditor/ckeditor.js"></script>
</head>

<body>
<div style=" width:450px; height:300px; overflow:hidden;">
<textarea name="ta" id="ta"></textarea>
</div>
<script type="text/javascript">
	CKEDITOR.replace('ta',{
		toolbar:[['Source','-','Bold','Italic','Underline','-','Styles','RemoveFormat']],
		width:435,
		height:300
	});
</script>
<input value="查看里面的数据" type="button" onclick="alert(CKEDITOR.instances.ta.getData());" />
</body>
</html>
