<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<style>
body{ font-size:12px; padding:0; margin:0;}
.popup{ position:fixed; z-index:100; left:50%; background-color:#FFF; overflow:hidden; display:none;}
.popup a{ cursor:pointer;}
.popup-title{ height:40px; background-color:#e2f6ff; border-bottom:1px dotted #0479a7; padding:0 15px;}
.popup-title span{ line-height:40px; text-align:left; display:block; float:left; color:#0479a7; font-size:16px; font-weight:bold;}
.popup-close{ display:block; float:right; background:url(../Images/close.gif) no-repeat; width:24px; height:24px; margin-top:8px;}
.popup-content{ padding:15px; color:#666;}
.popup-button{ background-color:#d9d9d9; padding:0 15px; height:40px;}
.popup-save{ background:url(../Images/btn_small_blue.gif) repeat-x; height:20px; display:block; float:left; color:#FFF; padding:0 8px; line-height:20px; margin-top:9px; border:1px solid #0479a7;}
.popup-cancel{ display:block; float:left; margin-left:10px; height:30px; line-height:40px; text-decoration:underline; color:#888;}
.popup-cover{ position:fixed; z-index:99; background-color:#000; width:100%; left:0; top:0; filter:alpha(opacity=0); -moz-opacity:0; opacity: 0; display:none;  }
</style>
<script type="text/javascript" src="../../Scripts/jquery-1.4.2.min.js"></script>
<script type="text/javascript">
var g_param={};
//
(function($){  
	$.fn.extend({   
	popup: function(options){
		//默认参数设置
		var defaults = { 
			width        : 500,
			save         : "保&nbsp;&nbsp;存",
			cancel       : "取消"
		};                   
		var opt;
		var operation="";
		if(typeof(options)=="object" || options==null){		
			//将传入参数与默认参数对比，确定最终的参数
			opt = $.extend(defaults, options);
			//将参数写入全局变量
			//g_param.AntaeusUIPluginsPopup = opt;
		}else{
			operation = options;
			//读取全局变量中这个插件的原先设置值
			//opt = g_param.AntaeusUIPluginsPopup;
		}
		
		//定义控件中所有用到ID和Class属性名
		var attr = {
			main   : "popup",
			title  : "popup-title",
			close  : "popup-close",
			content: "popup-content",
			button : "popup-button",
			save   : "popup-save",
			cancel : "popup-cancel",
			cover  : "popup-cover"
		};
		
		//获得确定的页面的高度，IE6专用
		var _panelHeight = function(){return ($(window).height()>$(document).height())?$(window).height():$(document).height();}
		//获得滚动条高度，IE6专用
		var _scrollHeight = function(){
			var temp = (opt.top==null)?parseInt(($(window).height()-$("#"+_id).height())/2):opt.top;
			return $(document).scrollTop()+temp;
		}
		
		//确定当前控制元素
		var _obj = $(this);
		////这里加入一个ID的属性，用于在一个页面有多个Popup的情况下的区别
		var _id = "AntaeusUIPopup"+_obj.attr("id");
		//cover也要加入ID属性！
		var _cid = "AntaeusUIPopupCover"+_obj.attr("id");
		
		//初始化popup
		var _init = function(){
			
			//首先构建popup的dom结构代码
			_obj.wrap("<div class='"+attr.content+"'></div>");
			var tempH = String(parseInt(opt.width/2));
			
			_obj.parent().wrap("<div id='"+_id+"' class='"+attr.main+"' style='width:"+String(opt.width)+"px; margin-left:-"+tempH+"px;'></div>");
			$("#"+_id+" ."+attr.content).before("<div class='"+attr.title+"'><span>"+_obj.attr("title")+"</span><a class='"+attr.close+"'>&nbsp;</a></div>");
			$("#"+_id+" ."+attr.content).after("<div class='"+attr.button+"'><a class='"+attr.save+"'>"+opt.save+"</a><a class='"+attr.cancel+"'>"+opt.cancel+"</a></div>");
			$("#"+_id).after("<div id='"+_cid+"' class='"+attr.cover+"'></div>");
		
			//在IE6的情况下，当windows窗口变化时自动调整cover的高度
			//IE6不支持positon:fixed的属性，因此需要用absolute这样子来强制控制高度
			if($.browser.msie && $.browser.version=="6.0"){
				//调整cover的高度
				$("#"+_cid).css("position","absolute");
				$("#"+_cid).height(_panelHeight());
				$(window).resize(function(){$("#"+_cid).height(_panelHeight());});
				//调整main的高度
				$("#"+_id).css("position","absolute");
				$("#"+_id).css("top",String(_scrollHeight())+"px");
				$(window).resize(function(){$("#"+_id).css("top",String(_scrollHeight())+"px");});
				$(window).scroll(function(){$("#"+_id).css("top",String(_scrollHeight())+"px");});
			}else{
				//初始化cover的高度
				$("#"+_cid).height($(window).height());
				$(window).resize(function(){$("#"+_cid).height($(window).height());});			
				//初始化popup的高度
				tempH = String(parseInt($("#"+_id).height()/2));
				if(opt.top==null){
					$("#"+_id).css("top","50%");
					$("#"+_id).css("margin-top","-"+tempH+"px");
				}else{
					$("#"+_id).css("top",String(opt.top)+"px");
				}
			}
			
			//绑定保存的函数
			if(opt.submit!=null && typeof(opt.submit)=="function") {
				$("#"+_id+" ."+attr.save).bind("click",opt.submit);
			}else{
				$("#"+_id+" ."+attr.save).bind("click",_close);
			}
			//绑定取消的函数
			if(opt.withdraw!=null && typeof(opt.withdraw)=="function"){
				$("#"+_id+" ."+attr.cancel).bind("click",opt.withdraw);
			}else{
				$("#"+_id+" ."+attr.cancel).bind("click",_close);
			}
			//绑定关闭的函数
			$("#"+_id+" ."+attr.close).bind("click",_close);
		};
		
		//废除popup
		var _destory = function(){
			//首先将内容克隆复制到底部
			_obj.hide();
			$("body").append(_obj.clone());
			//然后删除html
			$("#"+_id).remove();
		};
		
		//打开popup
		var _open = function(){
			$("#"+_cid).show(function(){
				$("#"+_cid).fadeTo("fast",0.5,function(){
					$("#"+_id).fadeIn("fast");
				});
			});
		};
		//关闭popup
		var _close = function(){
			$("#"+_id).fadeOut("fast",function(){
				$("#"+_cid).fadeTo("fast",0,function(){
					$("#"+_cid).hide();
				});
			});
		};
		
		return this.each(function(){ 
			if(operation=="")        _init();
			if(operation=="destory") _destory();
			if(operation=="open")    _open();
			if(operation=="close")   _close();			
		});  
	}
	});      
})(jQuery); 

jQuery(document).ready(function($) {
//
//	//获得确定的cover的高度
	//function panelHeight(){return ($(window).height()>$(document).height())?$(window).height():$(document).height();}
//	//当windows窗口变化时自动调整高度
	//$(window).resize(function(){$(".popup-cover").height(panelHeight());});
	//$(".popup-cover").height(panelHeight());
//
//	$("#a").click(function(){
//		$(".popup-cover").show();
//		$(".popup-cover").fadeTo("fast",0.5,function(){
//			$(".popup").fadeIn("fast");
//		});
//	});
//	
//	$(".popup-close, .popup-cancel").click(function(){
//		$(".popup").fadeOut("fast",function(){
//			$(".popup-cover").fadeOut("fast");
//		});
//	});
//
//

//$(".b").click(function(){
//	alert($(document).scrollTop());
//});

	$("#haha").popup({
		top:150,
		submit: function(){alert("save");},
		withdraw:function(){alert("withdraw");}
	});
	$("#a").click(function(){
		$("#haha").popup("open");
	});
	$("#hoho").popup({
		submit: function(){alert("hohosave");},
		withdraw:function(){alert("hohowithdraw");}
	});
	$("#a2").click(function(){
		$("#hoho").popup("open");
	});
});
</script>
</head>

<body>
<a id="a">open</a>
<a id="a2">open2</a>

<p id="haha" title="测试">新浪体育讯：北京时间4月15日，NBA常规赛落幕，随着菲尼克斯太阳客场100-86大胜缺少了卡洛斯-布泽奈的降到第5位。</p>

<p id="hoho" title="再来测试">asdasdasdasdas</p>

<p>asdasd,asdasda sdasdasdasdasa sdasda.sdasdasasd asdasdasdasa sdasdasd,asdasasdas dasdasdasasdasd asdasdasas,dasdasdasdasas dasdasdasd,asasdasdasdasd asasdasdasdasdasa,sdasdasdasd asasdasdasd asdasasdasda sdasdasasd asdasdasda sasdasda sdasdasasda  sdasda sdasasdasd asdasda sasdas dasdasdas asdasdas dasdasa sdasdas dasdas asdasdasdas dasasd asdas dasda sasda sdasdasdas  asdasda sdasdasasdasda sdasdasasd asdasdasdas asdasdas dasda sasdasdasd asda sas dasdas dasdasasda sdasda sda sasdasdasd asdasasda  sdasdasdasasdasd  asdasdasasdasd asdas  dasasdasd asdasdasas dasdas asdas sdas sdasd asasda sdasdasda asdasdasda sdasas asdas dasdasa sdas asdas asasda sdas dasda sasd asda sda asas asda sda dasas</p>
<a class="b">scroll</a>
<p>asdasdasdasdas</p><p>asdasdasdasdas</p><p>asdasdasdasdas</p>
<a class="b">scroll</a>
<p>asdasdasdasdas</p><p>asdasdasdasdas</p><p>asdasdasdasdas</p><p>asdasdasdasdas</p><p>asdasdasdasdas</p><p>asdasdasdasdas</p><p>asdasdasdasdas</p><p>asdasdasdasdas</p><p>asdasdasdasdas</p><p>asdasdasdasdas</p><p>asdasdasdasdas</p><p>asdasdasdasdas</p><p>asdasdasdasdas</p><p>asdasdasdasdas</p><p>asdasdasdasdas</p>
<a class="b">scroll</a>
<p>asdasdasdasdas</p><p>asdasdasdasdas</p><p>asdasdasdasdas</p><p>asdasdasdasdas</p><p>asdasdasdasdas</p><p>asdasdasdasdas</p><p>asdasdasdasdas</p><p>asdasdasdasdas</p><p>asdasdasdasdas</p><p>asdasdasdasdas</p><p>asdasdasdasdas</p><p>asdasdasdasdas</p><p>asdasdasdasdas</p><p>asdasdasdasdas</p><p>asdasdasdasdas</p><p>asdasdasdasdas</p><p>asdasdasdasdas</p><p>asdasdasdasdas</p><p>asdasdasdasdas</p>
<a class="b">scroll</a>
<p>asdasdasdasdas</p><p>asdasdasdasdas</p><p>asdasdasdasdas</p><p>asdasdasdasdas</p><p>asdasdasdasdas</p><p>asdasdasdasdas</p><p>asdasdasdasdas</p><p>asdasdasdasdas</p><p>asdasdasdasdas</p>
<a class="b">scroll</a>
</body>
</html>
