<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<style>

body{ padding-left:20px; padding-top:20px; font-size:12px;}

#container{ width:700px; border:1px solid #666; padding-top:5px; overflow:hidden;}
#container .item{ float:left; padding:0px 5px; background-color:#EEE; border:1px solid #DDD; margin-left:5px; margin-bottom:5px; height:20px; line-height:20px; *margin-bottom:0px;}
#container .item a{ color:#CCC; padding-left:5px; cursor:pointer;}
#container .item a:hover{ color:#F00;}
#container #inp111{ display:block; float:left; width:690px; padding:5px 5px 8px 5px; border:0; font-size:12px; *padding-bottom:2px;}

#selector{ float:left;}

</style>

<script type="text/javascript" src="../../Scripts/jquery-1.3.2.min.js"></script>
<script type="text/javascript">

(function($){  
	$.fn.extend({   
	separateInput: function(options){
		//默认参数设置
		var defaults = {  
			separator:',',  
			width:690,  
			widthMin:100,
			widthCss:17
		}                   
		var options = $.extend(defaults, options);
		return this.each(function(){  
			var opt = options;
			var obj = $(this);
			var width = opt.width;
			var lineFirst = true;
			
			//这里是最核心的一个操作，因为要用两次，所以用函数包起来
			function doInsert(str){
				//为了万恶的IE6，要专门做个修正，这个修正还是导致有1px的不完美，而且
				if(lineFirst){
					obj.before("<div class='item' style='_margin-left:"+opt.widthCssIE6+"px;'><span>"+str+"</span><a>x</a></div>");
				}else{
					obj.before("<div class='item'><span>"+str+"</span><a>x</a></div>");
				}
				lineFirst = false;
				//计算字符占位宽度
				var widthItem = obj.prev().width();				
				//给新添加的html绑定事件			
				obj.prev().children("a").bind("click",function(){				
					var obj1=$(this).parent();
					var lineChange = false;					
					//判断当前删除元素与input之间有没有折行
					do{
						obj1 = obj1.next();
						//通过折行标签判断是否折行
						if(obj1.css("clear")=="both") lineChange = true;
					}while(obj1.attr("id")!=obj.attr("id"))			
					//如果没有折行的话，还要进行宽度的重新计算
					if(!lineChange){
						//获得宽度
						widthItem = $(this).parent().width();						
						//重新算一下宽度
						width = width + widthItem + opt.widthCss;				
						//执行宽度的重置
						obj.css("width",String(width)+"px");
					}
					//删除元素
					$(this).parent().remove();					
				});
				//重新计算宽度
				width = width - widthItem - opt.widthCss;				
				//判断是否需要折行
				if(width<opt.widthMin){
					obj.before("<div style='clear:both;'></div>");
					lineFirst = true;
					width = opt.width;
				}
				//调整位置来显示
				obj.css("width",String(width)+"px");
			}			
			obj.keyup(function(){
				var str = obj.attr("value");
				var len = str.length;
				//获取最后一个输入的字符
				var str1 = str.substring(len-1,len);
				//如果输入的是指定的分隔符
				if(str1==opt.separator){
					//往前面插入一个div
					var str2 = str.substring(0,len-1);			
					//判断是否为空的字符
					if(str2!="") doInsert(str2);					
					//清除原来的输入框中的内容
					obj.attr("value","");					
				}			
			});	
			//如果定义了链接的点击插入模式的话，执行相应的操作
			if(opt.insert!=null){
				$(opt.insert).children("a").bind("click",function(){
					doInsert($(this).html());
				});
			}			
		});  
	}  
});  
      
})(jQuery); 


	//用于分隔的符号
	var selector=",";
	//初始的宽度
	var width_init=690;
	//当前宽度，全局变量
	var width=690;
	//单个item CSS占位宽度
	var width_css=17;
	//最小宽度
	var width_min=100;
	//要控制的input的selector
	var controler = "#inp";
	//父级容器的selector
	var container = "#container";

function DoTagInsert(str){
	$(controler).before("<div class='item'><span>"+str+"</span><a>x</a></div>");
	//计算字符占位宽度
	item_width = $(controler).prev().width();
	//alert(item_width);
	
	//给新添加的html绑定事件			
	$(controler).prev().children("a").bind("click",function(){				
		
		var obj=$(this).parent();
		var lineChange = false;
		
		//判断当前删除元素与input之间有没有折行
		do{
			obj = obj.next();
			//通过折行标签判断是否折行
			if(obj.css("clear")=="both") lineChange = true;
		}while(obj.attr("id")!=$(controler).attr("id"))

		//如果没有折行的话，还要进行宽度的重新计算
		if(!lineChange){
			//获得宽度
			item_width = $(this).parent().width();						
			//重新算一下宽度
			width = width+item_width+width_css;				
			//执行宽度的重置
			$(controler).css("width",String(width)+"px");
		}
		//删除元素
		$(this).parent().remove();
		
	});			
	
	//重新计算宽度
	width = width-item_width-width_css;
	
	//判断是否需要折行
	if(width<100){
		$(controler).before("<div style='clear:both;'></div>");
		width=width_init;
	}
	//调整位置来显示
	$(controler).css("width",String(width)+"px");
}


jQuery(document).ready(function($) {
	
	
	
	$(controler).keyup(function(){
		str = $(this).attr("value");
		len = str.length;
		//获取最后一个输入的字符
		str1 = str.substring(len-1,len);
		//如果输入的是指定的分隔符
		if(str1==selector){
			//往前面插入一个div
			str2 = str.substring(0,len-1);			
			//判断是否为空的字符
			if(str2!="") DoTagInsert(str2);
			//清除原来的输入框中的内容
			$(controler).attr("value","");					
		}
		
		
		
		
	});
	
	//点击链接插入一个tag
	$("#selector").children("a").bind("click",function(){
		//alert($(this).html());
		DoTagInsert($(this).html());
	});
	//alert($("#selector").width());
	
	//alert($("*[ajax='normal']").html());
	
	$("#inp111").separateInput({insert:"#selector111"});
	
});



</script>
</head>

<body>


<div id="container">
	<input type="text" id="inp111" />
    <div style="clear:both; font-size:1px; line-height:1px; font-size:1px;"></div>
</div>

<div id="selector111">
	<a href="#">test</a>
    <a href="#">werr</a>
    <a href="#">23fd</a>
    <a href="#">vdfb</a>
    <a href="#">sdfew</a>
    <a href="#">cvedwf</a>
    <a href="#">ewwrds</a>
    <a href="#">cvdf</a>
    <a href="#">werfew</a>
    <a href="#">rthy</a>
</div>

<div ajax="normal" class="test" rel="a:b:c:d" url="http://www.mop.com/">xxx</div>




</body>
</html>
