<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Antaeus.ORM.Properties.Settings.Antaeus2_DatabaseConnectionString"
            connectionString="Data Source=ZIZ-LYNNING-02;Initial Catalog=Antaeus2.Database;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Antaeus.ORM.Properties.Settings.Antaeus_1011_TestConnectionString"
            connectionString="Data Source=ZIZ-LYNNING-02;Initial Catalog=Antaeus_1011_Test;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Antaeus.ORM.Properties.Settings.Antaeus_0925_TestConnectionString"
            connectionString="Data Source=ZIZ-LYNNING-02;Initial Catalog=Antaeus_0925_Test;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Antaeus.ORM.Properties.Settings.Antaeus_1011ConnectionString"
            connectionString="Data Source=ZIZ-SHMSCOM-01\SQLEXPRESS;Initial Catalog=Antaeus_1011;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Antaeus.ORM.Properties.Settings.Antaeus_DBConnectionString"
            connectionString="Data Source=ZIZ-SHMSCOM-01\SQLEXPRESS;Initial Catalog=Antaeus_DB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Antaeus.ORM.Properties.Settings.Antaeus_DBConnectionString1"
            connectionString="Data Source=ZIZ-LYNNING-LV\SQLEXPRESS;Initial Catalog=Antaeus_DB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Antaeus.ORM.Properties.Settings.Antaeus_DBConnectionString2"
            connectionString="Data Source=211.99.2.167;Initial Catalog=Antaeus_DB;Persist Security Info=True;User ID=ans;Password=123456"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>