/*==========================================================================
ANTAEUS.Common.CSS
This File is for all pages of site GMAT used and defined specific content
Version 0.1, Created by Lanslot at 2009/5/30
============================================================================*/

.header{ background:#000 url(../Images/BG_GMAT.jpg) scroll repeat-x center top;}

#ReviewDetail .review-days{ background-color:#fff; font-size:12px;}
#ReviewDetail .review-days table{ width:100%;}
#ReviewDetail .review-days td{ border-bottom:1px solid #CCC; line-height:22px; text-align:center;}
#ReviewDetail .review-days tr{ cursor:pointer;}
#ReviewDetail .review-days tr.hover{ background-color:#FFC;}
#ReviewDetail .review-days tr.delete td{ color:#ff0000;}